@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body{
  background-color: var(--main-background-color);
  color: #D6D5C9; 
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;

}


:root {
  height: 100%;
  --main-background-color:#111111;
}
