@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body{
  background-color: var(--main-background-color);
  color: white; 
}


:root {
  height: 100%;
  --main-background-color:#111111;
}
